<!DOCTYPE html>
<html>
  <head>
    <title>Course</title>
  </head>
  <body>
    <h1 style="color:red">
       Title : <%= course.title %>
    </h1>
    <h2>Duration : <%=course.duration %></h2>
    <h2>Fee : <%=course.fee %></h2>
    <h2>Tax : <%=course.tax %></h2>
    <h2>Net Fee : <%=course.fee + course.tax %></h2>

  </body>
</html>
